:root {
    --theme-primary-main: #042189;
    --theme-primary-light: #4E49BA99;
    --theme-primary-dark: #00005B;
    --theme-secondary-main: #1594C4;
    --theme-secondary-light: #43AFD8;
    --theme-secondary-dark: #0E6D90;
    --theme-complementar-light: #F5F9FF;
    --theme-success-background: #19B98E15;
    --theme-success-border: #19B98E47;
    --theme-success-color: #19B98E;
    --theme-danger-background: #FFEAEA;
    --theme-danger-border: #FA3F3F48;
    --theme-danger-color: #FA3F3F;
    --theme-warning-background: #FFF7E0;
    --theme-warning-border: #FAAB3F4D;
    --theme-warning-color: #FAAB3F;
}

label, .mdc-text-field__input {
    font-family: Raleway, Roboto, Helvetica, Arial, sans-serif !important;
}

body {
    font-family: Raleway,Roboto,Helvetica,Arial,sans-serif !important;
    background-color: #EBECEE !important;
    font-size: 0.889rem !important;
    overflow-x: hidden;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .row-container {
        left: 20%;
        transform: translateX(-20%);
    }
    .col-calendar {
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .row-container {
        left: 25%;
        transform: translateX(-20%);
    }
    .col-calendar {
        display: none;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1280px) {
    .row-container {
        left: 20.5%;
        transform: translateX(-20.5%);
    }

    .col-calendar {
        display: block;
    }
}


@media only screen and (min-width: 1330px) {
    .row-container {
        left: 22%;
        transform: translateX(-20.5%);
    }

    .col-calendar {
        display: block;
    }
}

@media only screen and (min-width: 1400px) {
    .row-container {
        left: 25.5%;
        transform: translateX(-20.5%);
    }

    .col-calendar {
        display: block;
    }
}

#alert-container {
    padding-left: 0px;
    padding-bottom: 33px;
}

.row-container {
    display: flex;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 48px;
    width: 1280px;
}

.col-user {
    position: sticky;
    top:120px;
    margin-left: 10px;
    width: 304px;
    height: 616px;
}

.col-feed {
    position: relative;
    width: 600px;
    padding-left: 31px;
    padding-right: 33px;
}

.comp-calendar {
    width: 302px;
    padding-bottom: 4px;
}

.col-calendar {
    position: sticky;
    top: 120px;
    float: left;
    width: 302px;
    height: 1062px;
}

p {
    font-weight: 400 !important;
    font-size: 0.89rem !important;
    line-height: 21.33px !important;
}

h1 {
    font-weight: 700 !important;
    font-size: 1.602rem !important;
}

h2 {
    font-weight: 500 !important;
    font-size: 1.266rem !important;
}

h3 {
    font-weight: 600 !important;
    font-size: 1.125rem !important;
}

h4 {
    font-weight: 600 !important;
    font-size: 1rem !important;
}

.pr-22 {
    padding-right: 22px;
}

.pt-14 {
    padding-top: 14px;
}

.px-32 {
    padding-left: 32px !important;
    padding-right: 32px !important;
}

.p-32 {
    padding: 32px !important;
    margin: 0;
}

.invisible {
    display: none !important;
}

.bold {
    font-weight: bold !important;
}

.showAll{
    font-size: 16px;
    font-weight: bold;
    color: var(--theme-primary-main,#042189);
    cursor: pointer;
}

.divisor {
    background-color: #EAEAEA;
    height: 1px;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 24px;
}

.side-status-item, .side-info-item {
    padding: 0 26px 0 28px;
    margin-top: 24px;
    height: 30px !important;
    cursor: pointer;
}

.side-info-item {
    cursor: auto;
}

.side-info-item > p {
    font-weight: 600 !important;
    pointer-events: none;
    text-align: left;
}

.side-index {
    padding-left: 8px;
    color: var(--theme-primary-main, #173863) !important;
}

.side-status-item > p {
    font-weight: 600 !important;
    pointer-events: none;
}

div.side-status-item.clicked > span, div.side-status-item.clicked > p {
    color: #159CCF !important;
}

div.side-status-item:hover:not(.clicked) > span, div.side-status-item:hover:not(.clicked) > p {
    color: #4E49BA !important;
}

.side-status-item > span, .side-info-item > span {
    color: var(--theme-primary-main, #173863) !important;
    pointer-events: none;
    transition: color 0.2s ease-in-out;
}

.row.header, d-flex.header, .row.content {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.row.header .user-icon {
    height: 64px;
    width: 64px;
}

.row.header .user-info {
    font-size: 14px !important;
}

.row.content .user-content {
    padding-left: 24px !important;
    padding-top: 17px !important;
    padding-bottom: 23px !important;
    padding-right: 24px !important;
}

.user-content {
    background-color: var(--theme-complementar-light, #F5F9FF);
}

.row.footer {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.content-info div[data-content="date"] {
    font-size: 12px !important;
    font-weight: 600 !important;
    color: var(--theme-secondary-dark, #0E6D90);
}

.content-icon {
    color: #747474;
}

.content-icon .material-icons {
    font-size: 20px !important;
}

.content-icon-text {
    padding-left: 6px !important;
    line-height: 2 !important;
    font-size: 12px !important;
    font-weight: 600 !important;
}

.content-text {
    padding-top: 10px !important;
    max-width: 800px !important;
    color: #232323 !important;
    word-wrap: break-word !important;
}

.hashtag-list li {
    border: none !important;
    background-color: transparent !important;
    padding: 0 20px 0 0 !important;
    color: var(--theme-secondary-dark, #0E6D90) !important;
    font-size: 0.875rem !important;
    text-transform: lowercase !important;
}

.arrow {
    display: none !important;
}

.tooltip-inner {
    margin-top: 6px !important;
    background-color: #00005B !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.row.main {
    padding: 48px !important;
}

.circular-icon {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: var(--theme-primary-main, #173863);
    text-align: center ;
}

.circular-icon span {
    color: #FFFFFF;
    transform: translateY(28%) !important;
}

.active {
    display: block !important;
}

.no-padding-margin {
    padding: 0 !important;
    margin: 0 !important;
}

.backdropUser {
    display: none;
    position: fixed;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
}

#btnSair {
    cursor: pointer;
    font-size: 0.889rem;
    color:#232323;
    font-weight: bold;
}

.card > div > img {
    max-width: 136px;
    max-height: 136px;
    min-width: 64px;
    min-height: 64px;
}

.card > .pt-40 {
    padding-top: 40px;
}

.column-service {
    line-height: 1.15 !important;
}

.column-service > span {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 32px;
}

.column-service > button {
    margin-top: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
}