.modal-body {
    padding: 32px !important;
}

.modal-header button.close{
    font-size: 48px !important;
    font-weight: lighter !important;
    line-height: 1 !important;
    outline: none;
}

.modal-dialog {
    max-width: 888px !important;
}

.modal-dialog.modal-size-md {
    max-width: 736px !important;
}

.modal-dialog .modal-content .modal-header .modal-title {
    font-size: 1.5625rem;
    font-weight: 800 !important;
    padding-left: 16px;
}

.modal-content-info {
    border: 1px solid var(--theme-secondary-light,#43AFD8);
    padding-top: 32px;
    padding-left: 23px;
    padding-right: 40px;
    padding-bottom: 40px;
    background-color: #F5F9FF;
}

.modal-footer {
    border-top: none !important;
}

.circleEdit {
    width: 48px;
    height: 48px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 105px;
    right: 24px;
    cursor: pointer;
    z-index: 999999;
    border: 1px solid #BCBCBC;
}

.circleEdit span {
    position: relative;
    top: 50%;
    transform: translateX(47%) translateY(-50%);
    color: #232323;
    cursor: pointer;
}

.profileCircleIcon {
    width: 32px;
    height: 32px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 82px;
    left: 50%;
    transform: translateX(50%);
    cursor: pointer;
    z-index: 999999;
    border: 1px solid #BCBCBC;
}

.profileCircleIcon span {
    position: relative;
    top: 50%;
    transform: translateX(38%) translateY(-50%);
    color: #232323;
    cursor: pointer;
    font-size: 18px;
}

.modal-user {
    position: fixed;
    top: 72px;
    right: 48px;
    border-radius: 8px;
    background-color: #fff;
    transition: all ease-in-out .7s;
}

.user-photo img {
    width: 89px !important;
}