.mdc-radio .mdc-radio__native-control:enabled:checked + .mdc-radio__background .mdc-radio__outer-circle {
    border-color: #173863 !important;
    /* @alternate */
    border-color: var(--theme-primary-main, #173863) !important;
}
.mdc-radio .mdc-radio__native-control:enabled + .mdc-radio__background .mdc-radio__inner-circle {
    border-color: #173863 !important;
    /* @alternate */
    border-color: var(--theme-primary-main, #173863) !important;
}