.modal-body {
    padding: 32px !important;
}

.modal-header button.close{
    font-size: 48px !important;
    font-weight: lighter !important;
    line-height: 1 !important;
    outline: none;
}

.modal-dialog {
    max-width: 888px !important;
}

.modal-dialog .modal-content .modal-header .modal-title {
    font-size: 1.5625rem;
    font-weight: 800 !important;
    padding-left: 16px;
}

.modal-content-info {
    border: 1px solid var(--theme-secondary-light,#43AFD8);
    padding-top: 32px;
    padding-left: 23px;
    padding-right: 40px;
    padding-bottom: 40px;
    background-color: #F5F9FF;
}

.modal-footer {
    border-top: none !important;
}